<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="77a679">  <td>20/06/13 16:26:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppiumAppTest.loginAndroidApp()[pri:0, instance:Tests.AppiumAppTest@18eed359]">loginAndroidApp</td> 
  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/06/13 16:25:34</td>   <td>-29556</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AppiumAppTest.setUp()[pri:0, instance:Tests.AppiumAppTest@18eed359]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/06/13 16:26:04</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AppiumAppTest.tearDown()[pri:0, instance:Tests.AppiumAppTest@18eed359]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
</table>
